.form-container {
    background-color: rgb(196, 192, 192);
    max-width: 600px;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 0 10px;
}

label {
    font-weight: bold
}

h1 {
    text-align: center;
    padding-top: 10px;
}

fieldset {
    padding: 10px;
    margin: 20px;
    border-color: black;
}

input[type="text"],
[type="contact"],
select {
    height: 20px;
    margin-right: 20px;
    margin: 5px;
    background-color: transparent;
}

input::placeholder {
    color: black;
    padding: 10px;
    
}

button {
    border-radius: 6px;
    background-color: black;
    color: white;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 10px;
}

button:hover {
    background-color: #636363;
}

.display {

    background-color: rgb(196, 192, 192);
    width: 95vh;
    margin: 0 auto;
    border-radius: 6px;

 
}

.display h2 {
    text-align: center;
    padding-top: 5px;
    background-color: black;
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
   

.display h3 {
    margin-left: 10px;
}

.display p {
    margin-left: 20px;
}

@media (max-width: 480px) {
    .form-container {
        max-width: 400px; 
        padding: 10px;
    }

    .display {
        max-width: 400px; 
        padding: 10px;
        background-color: #636363;
    }

    button {
        padding: 18px;
        font-size: 16px;
    }

    label, h2, h3 {
        font-size: 14px;
    }

    input[type="text"], input[type="email"], textarea {
        padding: 12px;
        font-size: 13px;
      
    }

    h1 {
        font-size: 18px;
        text-align: center;
    }
}
